@import url(http://fonts.googleapis.com/css?family=Rye);

*
{
  margin: 0px;
  padding: 0px;
}

body
{
  background-color: #252525;
  padding: 15px;
  font-family: monospace;
  font-size: 12px;
  color: #cccccc;
}

input
{
  font-family: monospace;
  font-size: 12px;  
  color: #252525;  
}

#header
{
  font-family: 'Rye', cursive;
  font-size: 50px;
  color: #cccccc;
}

#left
{
  float: left;
  width: 550px;
}

#right
{
  float: left;
  width: 300px;
  border-top: 1px solid #cccccc;
}

#login
{
  margin-top: 10px;
}

#communication
{
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

.clear
{
  clear: both;
}

#endturn
{
  margin-top: 15px;
  text-align: center;
}

table
{
  margin: 40px auto;
}

.player
{
  float: left;
  width: 100px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.whoami
{
  text-decoration: underline;
}

.active:before
{
  content: '*';
}

#chats
{
  margin-top: 10px;
}

.chat
{
  margin-bottom: 5px;  
}

td
{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

.square:hover
{
  border: 1px solid #252525;
}

.hidden
{
  border: 1px solid #252525;
  background-color: #252525;
}

.hidden:hover
{
  border: 1px solid #252525;
}

.square
{
  background-color: #252525;
}

.selected:after
{
  content: '*';
}

.kinged:before
{
  content: 'k';  
}
